body{background-image:url(images/2.jpg);background-size:contain;background-attachment: fixed;background-blend-mode: darken;}
ul > li{padding:5px;}
ul > li a{text-decoration: none;color:black;}
.mycard{height:auto;}
.mycard:hover{transform: scale(1.1);transition-duration:0.5s;}
.imgheight{width:13vw;padding-top:10px;}
.imgheight:hover{transform: scale(1.1);transition-duration: 0.5s;}
.hero2 img{width:16vw;padding-left:40px;padding-top: 20px;}
.aboutus:hover{background:rgb(255, 0, 140);}
/* .hero2 img{animation: movegallery 20s ease 2s infinite none;} */
.hero2 img:hover{filter:grayscale(1);cursor: pointer;transition-delay:0.5s;transform: scale(2);transition-timing-function: ease-in-out;}
@keyframes movegallery {
    0%{transform:translateY(0px);}
    10%{transform:translateY(-80px);}
    20%{transform:translateY(-110px);}
    30%{transform:translateY(-150px);}
    40%{transform:translateY(-200px);}
    50%{transform:translateY(-150px);}
    60%{transform:translateY(-110px);}
    70%{transform:translateY(-80px);}
    80%{transform:translateY(-50px);}
    90%{transform:translateY(-20px);}
    100%{transform:translateY(0px);}
    
}
.customer img{width:10vw;;border-radius:30%;border-radius:30%;}

@media screen and (min-width:600px) {
    .hero1{width:70vw;}
    .hero2container{width:70vw;}
    .aboutus{width: 70vw;}
}
@media screen and (max-width:600px) {
    body{background:linear-gradient(to right,rgb(255, 0, 85),rgb(255, 0, 128),rgb(255, 0, 170),rgb(174, 0, 255)) !important;background-attachment: fixed;}
    .hero1{width:95vw;border-radius: 10px !important;}
    .imgheight{width:30.5vw;height:20vh;}
    .mycard{height:auto;}
    .hero1{font-size:70%;text-align:left;}
    .hero2 img{width:44vw;padding-left:9px;padding-top: 20px;}
    .hero2container{width:95vw;}
    .aboutus{width: 95vw;font-size:15px;}
    .gayabimg{display: none;}
    .price{width:95vw !important;padding: 20px;}
    .customer{width: 95vw !important;}
    .bg{width: 90vw !important;}
    .hero1row{padding:5px !important;}
    .logo{width:122% !important;margin-left: -3vw !important;}
}


